.top-log{
  text-align: center;
  background-color: #edf1f4;
  padding: 35px 0;
  &__title{ 
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 14px;
  }
}
.breadcrumbs{
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    color: $default;
    padding-right: 5px;
    padding-left: 6px;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
    }
    &:last-child{
      color: $accent;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
    padding-right: 5px;
  }
}