html,
body{
  height: 100%;
}

body{
   color: $default;
   font-size: 16px;
   line-height: 21px;
   @extend %rubik-400;
   display: flex;
   flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container-big{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-small{
  max-width: 1200px;
  margin: 0 60px;
  padding: 0 15px;
  margin: 0 auto;
}

.breadcrumbs{
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    color: $default;
    padding-right: 5px;
    padding-left: 6px;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
    }
    &:last-child{
      color: $accent;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
    padding-right: 5px;
  }
}