@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.logo{
    display: flex;
    align-items: center;
    &__name{
      @extend %rubik-500;
      color: $menu;
      font-size: 36px;
      line-height: 58px;
      margin-left: 10px;
    }
}
.header{
  &__inner{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 45px 0 50px;
  }
  &__logo{
    margin-right: 486px;
  }
}
.menu{
  margin-right: 343px;
  &__list{
    display: flex;
    &-link{
      color: $menu;
      font-size: 15px;
      line-height: 12px;
      @extend %rubik-500;
      transition: all .3s;
      &:hover{
       color: $accent;
      }
    }
  }
  &__list-item + .menu__list-item{
    padding-left: 33px;
  }
}

.user-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__link{
    display: flex;
    position: relative;
  }
  &__num{
    position: absolute;
    display: flex;
    top: -5px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 7.5px;
    @extend %dmsans-400;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: $title;
  }
  &__search{
    clip-path: circle(50% at center center);
    background-color: #edf1f4;
    padding: 15px;
  }
  &__wrapper{
    display: flex;
    background-color: #fcd7b6;
    border-radius: 50px;
    padding: 16px 38px 13px 38px;
    margin: 0 20px;
  }
  &__like{
    position: relative;
    margin-right: 27px; 
    border-right: solid 1px #fde7d3;
    line-height: 32px;
    padding-right: 28px;
  }
  &__menu{
    clip-path: circle(50% at center center);
    padding: 15px;
    background-color: #a3bbc8;
  }
}

.wrapper-footer{
  display: flex;
  justify-content: center;
}
.footer-top{
  display: flex;
  font-size: 14px;
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  &__item{
    margin-top: 20px;
    line-height: 19px;
  }
  &__item a{
    color: $default;
  }
  &__title{
    @extend %dmsans-700;
    color: #1f2044;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 43px;
  }
  &__contact{
    width: 200px;
    margin-right: 100px;
    margin-top: 0;
    line-height: 21px;
  }
  &__logo{
    margin-bottom: 41px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
    margin-bottom: 13px;
  }
  &__link{
    display: block;
    margin-bottom: 1px;
  }
  &__nav{
    width: 170px;
    margin-right: 130px;
  }
  &__account{
    width: 100px;
    margin-right: 200px;
  }
  &__news{
    width: 270px;
  }
  &__text{
    margin-bottom: 20px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    color: $title;
    background-color: #fef7f0;
    border: none;
    max-width: 170px;
    width: 100%;
    padding: 13px;
    &::placeholder{
      color: #234969;
    }
  }
  &__form-btn{
    color: #fff;
    background-color: #a3bbc8;
    border: none;
    display: block;
    width: 100px;
    cursor: pointer;
  }
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 74px 0 40px;
  &__social-list{
    display: flex;
    align-items: center;
  }
  &__social-item + .footer-bottom__social-item{
    padding-left: 18px;
  }
  &__social-link{
    transition: all .3s;
    path{
      fill: $default;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
  &__scroll-btn{
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: $default;
    & span{
      margin-left: 10px;
    }
  }
}

.top-slider{
  background-image: url(../images/slider/top-slider__bg.png);
  padding: 215px 0 45px;
  margin: 0 75px;
  &__item{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 204px;
  }
  &__title{
    @extend %rubik-500;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 70px;
    color: $title;
    max-width: 415px;
    margin-bottom: 25px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    max-width: 370px;
    color: #436372;
    margin-bottom: 35px;
  }
  &__link{
    display: inline-flex;
    background-color: #a3bbc8;
    color: #fff;
    padding: 23px 15px 22px 29px;
    &-title{
      @extend %rubik-500;
      font-size: 15px;
      line-height: 12px;
      margin-right: 60px;
    }
  }
  &__img{
    padding-top: 50px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 10px;
      button{
        padding: 0;
        font-size: 11;
        line-height: 9px;
        color: $title;
        @extend %rubik-500;
        background-color: white;
        opacity: 0.3;
        width: 29px;
        height: 29px;
        border: none;
        border-radius: 50%;
      }
      &.slick-active{
        button{
        background-color: #fff;
        border-radius: 50%;
        opacity: 1;
        }
      }
    }
  }
}



.wrapper-rules{
  background-color: #fef7f0;
  padding: 0 70px;
}

.container-rules{
  display: flex;
  justify-content: center;
}

.rules-item{
  padding: 40px 0;
  & + .rules-item{
    margin-left: 211px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    overflow: hidden;
  }
  &__text{
   @extend %dmsans-400;
   font-size: 16px;
   line-height: 30px; 
   max-width: 209px;
   overflow: hidden;
   color: #585858;
  }
}

.support{
  position: relative;
  padding-left: 75px;
}

.delivery{
  position: relative;
}

.payment{
  position: relative;
}

.support::before{
 content: " ";
 background-image: url(../images/rules-icons/support.svg);
 position: absolute;
 background-repeat: no-repeat;
 left: -6px;
 top: 53px;
 width: 55px;
 height: 55px;
 display: block;
}

.delivery::before{
 content: " ";
 background-image: url(../images/rules-icons/delivery.svg);
 position: absolute;
 background-repeat: no-repeat;
 left: -83px;
 top: 53px;
 width: 55px;
 height: 55px;
 display: block;
}

.payment::before{
 content: " ";
 background-image: url(../images/rules-icons/payment.svg);
 position: absolute;
 background-repeat: no-repeat;
 left: -83px;
 top: 53px;
 width: 55px;
 height: 55px;
 display: block;
}

.design{
  padding: 100px 0 115px;
  display: flex;
  justify-content: center;
  &-top{
    text-align: center;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 34px;
  }
  &__filter-btn{
    margin-bottom: 77px;
  }
  &-btn{
    border: none;
    background-color: transparent;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }
  &-btn + .design-btn{
    margin-left: 28px;
  }
  &-btn:hover{
    color: #191919;
    transition: all .3s;
    cursor: pointer;
  }
  &__content{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
  }
  &__content-title{
    @extend %dmsans-700;
    font-size: 20px;
    color: #191919;
    max-width: 180px; 
    margin-bottom: 17px;
  }
  &__content-text{
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
  &__item{
    position: relative;
    display: inline-block;
  }
  &__item img{
    width: 370px;
    height: 246px;
  }
  &__item-text{
    position: absolute;
    top: 40px;
    left: 40px;
  }
  &__item-link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #8b8b8b;
    opacity: 0;
  }
  &__item:hover .design__item-link{
    opacity: 0.3;
    transition: all .3s;
  }
}
.mixitup-control-active{
  color: #191919;
}
.video-furniture{
  margin-bottom: 115px;
  background-image: url(../images/furniture-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__room{
    height: 500px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.product{
  padding: 73px 0 85px;
  &-wrapper{
    display: flex;
    justify-content: center;
  }
  &-top{
    text-align: center;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 37px;
  }
  &__filter-btn{
    margin-bottom: 80px;
  }
  &-btn{
    border: none;
    background-color: transparent;
    @extend %dmsans-700;
    font-size: 16px;
    color: $default;
  } 
  &-btn + .product-btn{
    margin-left: 30px;
  }
  &-btn:hover{
    color: #191919;
    cursor: pointer;
    transition: all .3s;
  }
}
.product__items{
  display: grid;
  grid-template-columns: repeat(4, 270px);
  row-gap: 40px;
  column-gap: 30px;
}
.product-item{
  max-width: 270px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  height: 380px;
  padding: 30px 40px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__img-box{
    position: relative;
    overflow: hidden;
    padding-bottom: 70px;
    & img{
      margin: auto;
      vertical-align: center;
    }
  }
  &__link-box{
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 16px;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__link + .product-item__link{
    margin-left: 15px;
  }
  &__link{
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
    display: flex;
    
    cursor: pointer;
    transition: all .3s;
  }
  &__link:hover{
    background-color: #a3bac7;
    path{
    fill: rgb(255, 255, 255);
    }
  }
  &:hover{
    .product-item__link-box{
      transform: translateY(0);
    }
  }
  &__title{
    color: $title;
    @extend %dmsans-500;
    font-size: 16px;    
    line-height: 40px;
    vertical-align: baseline;
  }
  &__price{
    color: #a3bbc8;
    font-size: 16px;
    line-height: 40px;
  }
}
.mixitup-control-active{
  color: #191919;
}
.present{
  &-items{
    display: flex;
    padding-top: 96px;
  }
  &-item__short{
    position: relative;
    padding: 100px 150px 100px 385px;
    display: block;
    background-color: #feefe2;
    margin-right: 30px;
  }
  &-item__short::before{
    display: inline-block;
    position: absolute;
    content: "";
    width: 233px;
    height: 405px;
    background: url(../images/lamp-short.svg) no-repeat right center;
    left: 40px;
    bottom: 100px;
  }
  &-title__short{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $title;
    margin-bottom: 28px;
  }
  &-text__short{
    font-size: 16px;
    line-height: 30px;
    max-width: 335px;
    color: $title;
    margin-bottom: 30px;
  }
  &-link{
    display: inline-block;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    border: solid 1px #b3b7b5;
    padding: 20px 19px 23px 18px;
    border-radius: 5px;
  }
  &-arrow__img{
    position: relative;
    display: inline-block;
    margin-left: 43px;
  }
  &-item__long{
    position: relative;
    padding: 100px 150px 100px 385px;
    display: block;
    background-color: #feefe2;
  }
  &-item__long::before{
    display: inline-block;
    position: absolute;
    content: "";
    width: 233px;
    height: 405px;
    background: url(../images/lamp-long.svg) no-repeat;
    left: 40px;
    bottom: 100px;
  }
  &-title__long{
    @extend %dmsans-700;
    max-width: 249px;
    font-size: 26px;
    line-height: 32px;
    color: $title;
    margin-bottom: 20px;
  }
   &-text__long{
    font-size: 16px;
    line-height: 30px;
    max-width: 295px;
    color: $title;
    margin-bottom: 36px;
  }
}
.insight{
  display: flex;
  justify-content: center;
  height: 780px;
  background: linear-gradient(to bottom, white 50%, #fef7f0 50%);
}
.insight-top{
  @extend %dmsans-700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
  &__title{
  font-size: 36px;
  color: #191919;
  }
  &__link{
  position: relative;
  font-size: 16px;
  color: #262626;
  margin-right: 13px;
  display: block;
  }
  &__link::after{
    margin-left: 13px;
    top: 6px;
    position: absolute;
    content: "";
    background: url(../images/icons/insight-arrow.svg) no-repeat;
    height: 11px;
    width: 6px;
  }
}
.insight-content{
  display: flex;
  justify-content: space-between;
  &__item{
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fef7f0;
  }
  &__item + .insight-content__item{
    margin-left: 30px;
  }
  &__link{
    display: block;
    position: relative;
    height: 250px;
    width: 369px;
  }
  &__title{
    position: absolute;
    display: inline-block;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 7px 30px;
    border-radius: 18px;
    bottom: -16px;
    left: 30px;
  }
  &__text{
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    max-width: 293px;
    padding: 35px 0 17px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__down{
    display: flex;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    margin-top: 13px;
  }
  &__wrapper{
    background-color: #fff;
    padding-left: 30px;
    padding-bottom: 27px;
  }
  &__subtitle-date{
    color: #222933;
    padding-left: 30px;
    position: relative;
    margin-right: 27px;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/date.svg');
      left: 0;
      top: 4px;
    }
  }
  &__subtitle-author{
  color: #222933;
  padding-left: 30px;
  position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/man.svg');
      left: 0;
      top: 4px;
    }
  }
  &__text-last{
    padding-bottom: 39px;
  }
}
.wrapper-partners{
  background-color: #fef7f0;
}
.partners{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:90px 50px 94px;
}
.top-log{
  text-align: center;
  background-color: #edf1f4;
  padding: 35px 0;
  &__title{ 
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 14px;
  }
}

.modal{
  padding-top: 120px;
  max-width: 480px;
  margin: 0 auto 120px;
  color: #436372;
  font-size: 14px;
  &__label{
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
  }
  &__input{
    display: block;
    width: 100%;
    border: 1px solid #f6f6f6;
    margin-top: 12px;
    height: 55px;
    padding: 0 15px;
  }
  &__link{
    font-size: 18px;
    @extend %rubik-500;
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    margin-bottom: 32px;
  }
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #436372;
    font-size: 14px;
    border-bottom: solid 1px #f6f6f6;
    padding-bottom: 30px;
  }
  &__lost{
    color: #436372;
  }
  &__text{
    padding-top: 30px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__link-create{
    border: solid 1px #a3bbc8;
    padding: 20px 144px;
    font-size: 18px;
    @extend %rubik-500;
    color: $title;
  }
}
.terms{
  padding: 120px 0 55px 20px;
  max-width: 1201px;
  margin: 0 auto;
  color: $title;
  line-height: 30px;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    margin-bottom: 30px;
  }
  & ol{
    padding: 0;
    padding-left: 20px;
//     list-style-type: none; /* Убираем исходные маркеры */
//     counter-reset:  item; /* Обнуляем счетчик списка */
//     & li:nth-child(-n+9)::before {
//     content: '0' counter(item);
//     counter-increment: item; /* Задаём имя счетчика */
// }
    & li{
      margin-bottom: 30px;
      padding: 0;
    }
  }
  &__text{
    margin-bottom: 65px;
  }
}

@import 'media';