@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 50px 0; 
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  display: flex;
  vertical-align: middle;
}

.logo__name{
  @extend %rubik-500;
  color: $menu;
  font-size: 36px;
  line-height: 51px;
  margin-left: 14px;
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 20px;
  }
  &__list-link{
    color: $menu;
    font-size: 15px;
    line-height: 12px;
    padding-bottom: 0 2px 3px;
    transition: all .3s;
    @extend %rubik-500;
    font-weight: 550;
    &:hover{
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
  &__list-link--active{
    color: $accent;
    border-bottom: 1px solid $accent;
    padding-bottom: 3px;
    @extend %rubik-500;
    font-weight: 550;
  }
}

.user-nav{
  display: flex;
  justify-content: space-between;
  &__bg-img{
    margin-left: 20px;
  }
  &__bg-search{
    margin-left: 0;
  }
  &__icon-img{
    position: absolute;
    top: 67px;
    right: 362px;
  }
  &__heart-img{
    position: absolute;
    top: 67px;
    right: 266px;
  }
  &__link span{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: $title;
  }
  &__num-like{
    top: 60px;
    right: 255px;
  }
  &__truck-img{
    position: absolute;
    top: 67px;
    right: 187px;
  }
  &__num-search{
    top: 59px;
    right: 179px;
  }
  &__separation-img{
    position: absolute;
    top: 59px;
    right: 233px;
  }
  &__circles-img{
    position: absolute;
    top: 67px;
    right: 90px;
  }
}

.wrapper-footer{
  display: flex;
  justify-content: center;
}
.footer-top{
  display: flex;
  font-size: 14px;
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  &__item{
    margin-top: 20px;
    line-height: 19px;
  }
  &__item a{
    color: $default;
  }
  &__title{
    @extend %dmsans-700;
    color: #1f2044;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 43px;
  }
  &__contact{
    width: 200px;
    margin-right: 100px;
    margin-top: 0;
    line-height: 21px;
  }
  &__logo{
    margin-bottom: 29px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
    margin-bottom: 13px;
  }
  &__link{
    display: block;
    margin-bottom: 1px;
  }
  &__nav{
    width: 170px;
    margin-right: 130px;
  }
  &__account{
    width: 100px;
    margin-right: 200px;
  }
  &__news{
    width: 270px;
  }
  &__text{
    margin-bottom: 20px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    color: $title;
    background-color: #fef7f0;
    border: none;
    max-width: 170px;
    width: 100%;
    padding: 13px;
    &::placeholder{
      color: #234969;
    }
  }
  &__form-btn{
    color: #fff;
    background-color: #a3bbc8;
    border: none;
    display: block;
    width: 100px;
    cursor: pointer;
  }
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 74px 0 40px;
  &__social-list{
    display: flex;
    align-items: center;
  }
  &__social-item + .footer-bottom__social-item{
    padding-left: 18px;
  }
  &__social-link{
    transition: all .3s;
    path{
      fill: $default;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
  &__scroll-btn{
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: $default;
    & span{
      margin-left: 10px;
    }
  }
}

.wrapper-slider{
  background-image: url(../images/top-slider__bg.png);
}

.top-slider{
  margin: 0 60px;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner{
    padding: 220px 0 43px;
  }
  &__item{
    display: flex !important; 
    margin-bottom: 200px;
  }
  &__title{
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;
    color: $title;
    max-width: 410px;
    width: 100%;
    margin: 0 120px 40px 0;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    max-width: 365px;
    width: 100%;
    color: $menu;
    margin-bottom: 40px;
  }
  &__link{
    display: flex;
    position: absolute;
    font-size: 15px;
    line-height: 12px;
    background-color: #a3bbc8;
    width: 200px;
    color: #fff;
    padding: 20px 25px;

  }
  &__link-arrow{
    position: relative;
    display: block;
    top: 22px;
    right: -153px;
  }
  &__img{
    padding-top: 50px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding-left: 5px;
      & + .slick-dots li{
        margin-left: 12px;
      }
      button{
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        opacity: 0.3;
        @extend %rubik-500;
        font-size: 11px;
        line-height: 9px;
        color: $title; 
        cursor: pointer;
      }
      &.slick-active{
        button{
        opacity: 1;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #fff;
        }
     }
    }
  }
}

.wrapper-rules{
  background-color: #fef7f0;
  padding: 0 70px;
}

.container-rules{
  display: flex;
  justify-content: center;
}

.rules-item{
  padding: 40px 0;
  & + .rules-item{
    margin-left: 211px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    overflow: hidden;
  }
  &__text{
   @extend %dmsans-400;
   font-size: 16px;
   line-height: 30px; 
   max-width: 209px;
   overflow: hidden;
   color: #585858;
  }
  
}

.support{
  position: relative;
  padding-left: 75px;
}

.delivery{
  position: relative;
}

.payment{
  position: relative;
}

.support::before{
 content: " ";
 background-image: url(../images/rules-icons/support.svg);
 position: absolute;
 background-repeat: no-repeat;
 left: -6px;
 top: 53px;
 width: 55px;
 height: 55px;
 display: block;
}

.delivery::before{
 content: " ";
 background-image: url(../images/rules-icons/delivery.svg);
 position: absolute;
 background-repeat: no-repeat;
 left: -83px;
 top: 53px;
 width: 55px;
 height: 55px;
 display: block;
}

.payment::before{
 content: " ";
 background-image: url(../images/rules-icons/payment.svg);
 position: absolute;
 background-repeat: no-repeat;
 left: -83px;
 top: 53px;
 width: 55px;
 height: 55px;
 display: block;
}

.design{
  padding: 100px 0 115px;
  display: flex;
  justify-content: center;
  &-top{
    text-align: center;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 34px;
  }
  &__filter-btn{
    margin-bottom: 77px;
  }
  &-btn{
    border: none;
    background-color: transparent;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }
  &-btn + .design-btn{
    margin-left: 28px;
  }
  &-btn:hover{
    color: #191919;
    transition: all .3s;
    cursor: pointer;
  }
  &__content{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
  }
  &__content-title{
    @extend %dmsans-700;
    font-size: 20px;
    color: #191919;
    max-width: 180px; 
    margin-bottom: 17px;
  }
  &__content-text{
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
  &__item{
    position: relative;
    display: inline-block;
  }
  &__item img{
    width: 370px;
    height: 246px;
  }
  &__item-text{
    position: absolute;
    top: 40px;
    left: 40px;
  }
  &__item-link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #8b8b8b;
    opacity: 0;
  }
  &__item:hover .design__item-link{
    opacity: 0.3;
    transition: all .3s;
  }
}
.mixitup-control-active{
  color: #191919;
}
.video-furniture{
  margin-bottom: 115px;
  background-image: url(../images/furniture-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__room{
    height: 500px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.product{
  padding: 73px 0 44px;
  &-wrapper{
    display: flex;
    justify-content: center;
  }
  &-top{
    text-align: center;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 37px;
  }
  &__filter-btn{
    margin-bottom: 80px;
  }
  &-btn{
    border: none;
    background-color: transparent;
    @extend %dmsans-700;
    font-size: 16px;
    color: $default;
  } 
  &-btn + .product-btn{
    margin-left: 30px;
  }
  &-btn:hover{
    color: #191919;
    cursor: pointer;
    transition: all .3s;
  }
}
.product__items{
  display: grid;
  grid-template-columns: repeat(4, 270px);
  row-gap: 40px;
  column-gap: 30px;
}
.product-item{
  max-width: 270px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  height: 380px;
  padding: 30px 40px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__img-box{
    position: relative;
    overflow: hidden;
    padding-bottom: 70px;
    & img{
      margin: auto;
      vertical-align: center;
    }
  }
  &__link-box{
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 16px;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__link + .product-item__link{
    margin-left: 15px;
  }
  &__link{
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
    display: flex;
    
    cursor: pointer;
    transition: all .3s;
  }
  &__link:hover{
    background-color: #a3bac7;
    path{
    fill: rgb(255, 255, 255);
    }
  }
  &:hover{
    .product-item__link-box{
      transform: translateY(0);
    }
  }
  &__title{
    color: $title;
    @extend %dmsans-500;
    font-size: 16px;    
    line-height: 40px;
    vertical-align: baseline;
  }
  &__price{
    color: #a3bbc8;
    font-size: 16px;
    line-height: 40px;
  }
}
.mixitup-control-active{
  color: #191919;
}

@import 'media';