.logo{
    display: flex;
    align-items: center;
    &__name{
      @extend %rubik-500;
      color: $menu;
      font-size: 36px;
      line-height: 58px;
      margin-left: 10px;
    }
}
.header{
  &__inner{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 45px 0 50px;
    flex-wrap: wrap;
  }
  &__logo{
    margin-right: 486px;
  }
}
.menu{
  margin-right: 343px;
  &__btn{
  display: none;
  }
  &__list{
    display: flex;
    &-link{
      color: $menu;
      font-size: 15px;
      line-height: 12px;
      @extend %rubik-500;
      transition: all .3s;
      &:hover{
       color: $accent;
      }
    }
  }
  &__list-item + .menu__list-item{
    padding-left: 33px;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    display: flex;
    position: relative;
  }
  &__num{
    position: absolute;
    display: flex;
    top: -5px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 7.5px;
    @extend %dmsans-400;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: $title;
  }
  &__search{
    clip-path: circle(50% at center center);
    background-color: #edf1f4;
    padding: 15px;
  }
  &__wrapper{
    display: flex;
    background-color: #fcd7b6;
    border-radius: 50px;
    padding: 16px 38px 13px 38px;
    margin: 0 20px;
  }
  &__like{
    position: relative;
    margin-right: 27px; 
    border-right: solid 1px #fde7d3;
    line-height: 32px;
    padding-right: 28px;
  }
  &__menu{
    clip-path: circle(50% at center center);
    padding: 15px;
    background-color: #a3bbc8;
  }
}

@media (max-width: 1800px){
  .menu{ 
    margin-right: 0;
    display: block;
  }
  .header{
    &__logo{
      margin-right: 0;
    }
    &__inner{
      justify-content: space-between;
      margin: 0 60px;
    }
  }
}
@media (max-width: 1220px){
  .header{
    &__inner{
      margin: 0 30px;
    }
  }
}
@media (max-width: 1000px){
  .menu{
    &__btn{
      display: none;
    }
    margin-left: 20px;
    order: 1;
    &__list{
      transform: translateY(-200%);
      position: absolute;
      top: 120px;
      left: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      &.menu__list--active{
        transform: translateY(0%);
        transition: all .5s;
      }
    }
    &__list-item + .menu__list-item{
      padding-left: 0;
    }
    &__list{
    display: flex;
    text-align: center;
    width: 100%;
      &-link{
        display: block;
        font-size: 20px;
        padding: 15px 0;
      }
    }
    &__btn{
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      span{
        width: 100%;
        height: 3px;
        background-color: $title;
      }
      &::before,
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $title;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
        height: 4px;
      }
    }
  }
  .user-nav{
    margin-left: auto;
  }
}
@media (max-width: 555px){
  .menu{
    order: 0;
    &__list{
      top: 170px;
    }
  }
  .header{
    &__inner{
      margin: 0;
      .user-nav{
        margin: 10px 0;
        width: 100%;
        justify-content: flex-end;
        &__wrapper{
          margin: 0 10px;
        }
      }
    }
  }
}