<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/blog.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">
  
    {% include 'app/module/_top/_top.html' %}

    <section class="blog">
      <div class="container-small">
        <div class="blog-wrapper">
          <div class="blog-news">
            <div class="blog-news__item">
              <div class="blog-news__item-img">
                <img src="images/blog/1.jpg" alt="news image">
                <div class="blog-news__item-author">
                  <a class="blog-news__link-date" href="#">
                    <h5 class="blog-news__subtitle-date">28 JANUARY, 2021</h5>
                  </a>
                  <a class="blog-news__link-author" href="#">
                    <h5 class="blog-news__subtitle-author">BY ADMIN</h5>
                  </a>
                </div>
              </div>
              <h3 class="blog-news__item-title">
                Fonsectetur adipisicing eiusmod
              </h3>
              <p class="blog-news__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-news__item-link" href="#">View More</a>
            </div>
            <div class="blog-news__item">
              <div class="blog-news__item-img">
                <img src="images/blog/2.jpg" alt="news image">
                <div class="blog-news__item-author">
                  <a class="blog-news__link-date" href="#">
                    <h5 class="blog-news__subtitle-date">28 JANUARY, 2021</h5>
                  </a>
                  <a class="blog-news__link-author" href="#">
                    <h5 class="blog-news__subtitle-author">BY ADMIN</h5>
                  </a>
                </div>
              </div>
              <h3 class="blog-news__item-title">
                Fonsectetur adipisicing eiusmod
              </h3>
              <p class="blog-news__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-news__item-link" href="#">View More</a>
            </div>
            <div class="blog-news__item">
              <div class="blog-news__item-img">
                <img src="images/blog/3.jpg" alt="news image">
                <div class="blog-news__item-author">
                  <a class="blog-news__link-date" href="#">
                    <h5 class="blog-news__subtitle-date">28 JANUARY, 2021</h5>
                  </a>
                  <a class="blog-news__link-author" href="#">
                    <h5 class="blog-news__subtitle-author">BY ADMIN</h5>
                  </a>
                </div>
              </div>
              <h3 class="blog-news__item-title">
                Fonsectetur adipisicing eiusmod
              </h3>
              <p class="blog-news__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-news__item-link" href="#">View More</a>
            </div>
            <div class="blog-news__item">
              <div class="blog-news__item-img">
                <img src="images/blog/4.jpg" alt="news image">
                <div class="blog-news__item-author">
                  <a class="blog-news__link-date" href="#">
                    <h5 class="blog-news__subtitle-date">28 JANUARY, 2021</h5>
                  </a>
                  <a class="blog-news__link-author" href="#">
                    <h5 class="blog-news__subtitle-author">BY ADMIN</h5>
                  </a>
                </div>
              </div>
              <h3 class="blog-news__item-title">
                Fonsectetur adipisicing eiusmod
              </h3>
              <p class="blog-news__item-text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <a class="blog-news__item-link" href="#">View More</a>
            </div>
          </div>
          <div class="blog-navigation">
            <div class="filter-search">
              <form class="filter-search__form" action="#">
                <input class="filter-search__input" type="search">
                <button class="filter-search__btn">
                  <img src="images/icons/search-blue.svg" alt="search image">
                </button>
              </form>
            </div>
            <div class="filter-item filter__category">
              <h3 class="filter__category-title catalog-title">CATEGORY</h3>
              <form class="filter__category-form" action="#">
                <label class="filter__category-label">
                  <input class="filter__category-input" type="checkbox">
                  <div class="filter__category-checkbox">
                    <span>Chair</span>
                  </div>
                </label>
                <label class="filter__category-label">
                  <input class="filter__category-input" type="checkbox">
                  <div class="filter__category-checkbox">
                    <span>Table</span>
                  </div>
                </label>
                <label class="filter__category-label">
                  <input class="filter__category-input" type="checkbox">
                  <div class="filter__category-checkbox">
                    <span>Lamp</span>
                  </div>
                </label>
                <label class="filter__category-label">
                  <input class="filter__category-input" type="checkbox">
                  <div class="filter__category-checkbox">
                    <span>Watch</span>
                  </div>
                </label>
                <label class="filter__category-label">
                  <input class="filter__category-input" type="checkbox">
                  <div class="filter__category-checkbox">
                    <span>Clock</span>
                  </div>
                </label>
              </form>
            </div>
            <div class="blog-navigation__recent">
              <h3 class="blog-navigation__recent-title catalog-title">Recent Posts</h3>
              <div class="blog-navigation__recent-item">
                <a class="blog-navigation__recent-link" href="#">
                  <img class="blog-navigation__recent-img" src="images/navigation/1.jpg" alt="recent post">
                  <div class="blog-navigation__item-info">
                    <h4 class="blog-navigation__item-title">
                      Corem ipsum dolor tetur adipisicing elit
                    </h4>
                    <p class="blog-navigation__item-date">28 JANUARY, 2021</p>
                    </div>
                </a>
              </div>
              <div class="blog-navigation__recent-item">
                <a class="blog-navigation__recent-link" href="#">
                  <img class="blog-navigation__recent-img" src="images/navigation/2.jpg" alt="recent post">
                  <div class="blog-navigation__item-info">
                    <h4 class="blog-navigation__item-title">
                      Fdipisicing elit, sed do eiusmod tempor
                    </h4>
                    <p class="blog-navigation__item-date">28 JANUARY, 2021</p>
                    </div>
                </a>
              </div>
              <div class="blog-navigation__recent-item">
                <a class="blog-navigation__recent-link" href="#">
                  <img class="blog-navigation__recent-img" src="images/navigation/3.jpg" alt="recent post">
                  <div class="blog-navigation__item-info">
                    <h4 class="blog-navigation__item-title">
                      Eonsectetur adipisicing elit, sed do eiusmod
                    </h4>
                    <p class="blog-navigation__item-date">28 JANUARY, 2021</p>
                    </div>
                </a>
              </div>
              <div class="blog-navigation__recent-item">
                <a class="blog-navigation__recent-link" href="#">
                  <img class="blog-navigation__recent-img" src="images/navigation/4.jpg" alt="recent post">
                  <div class="blog-navigation__item-info">
                    <h4 class="blog-navigation__item-title">
                      Egnim ad minim veniam, quis nostrud
                    </h4>
                    <p class="blog-navigation__item-date">28 JANUARY, 2021</p>
                    </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination blog-pagination">
          <ul class="pagination__list">
            <li class="pagination__item"><a class="pagination__link pagination__link--active" href="#">1</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
          </ul>
          <a class="pagination__next" href="#">Next</a>
        </div>
      </div>
    </section>

    <div class="wrapper-partners">
      <div class="container-small">
        <div class="partners">
          <img class="partners-img" src="images/partners/partner1.svg" alt="">
          <img class="partners-img" src="images/partners/partner2.svg" alt="">
          <img class="partners-img" src="images/partners/partner3.svg" alt="">
          <img class="partners-img" src="images/partners/partner4.svg" alt="">
          <img class="partners-img" src="images/partners/partner5.svg" alt="">
        </div>
      </div>
    </div>

  </main>
  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>