<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/terms&conditions.min.css">
  <link rel="stylesheet" href="css/style.min.css"> 
</head>

<body>
  {% include 'app/module/_header/_header.html' %}

  <main class="main">
  
   {% include 'app/module/_top/_top.html' %}

<div class="terms">
  <h3 class="terms__title">Types of Personal Information We Collect</h3>
  <ol type="01">
    <li>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore</li>
    <li>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore</li>
    <li>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    <li>Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
  </ol>
  <h3 class="terms__title">How marketpmss.com Collects Personal Infonnation</h3>
  <p class="terms__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum dolore</p>
  <h3 class="terms__title">How marketprosscom Uses Personal Information</h3>
  <p class="terms__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum dolore</p>
</div>

  <section class="insight">
    <div class="container-small">
      <div class="insight-top">
        <h3 class="insight-top__title">Our Insights & Articles</h3>
        <a class="insight-top__link" href="#">View All</a>
      </div>
      <div class="insight-content">
        <div class="insight-content__item">
          <a class="insight-content__link" href="#">
            <img class="insight-content__img" src="images/insights/insight1.jpg" alt="insight image">
            <h3 class="insight-content__title">NEWS</h5>
          </a>
          <div class="insight-content__wrapper">
            <a class="insight-content__link-text" href="#">
              <p class="insight-content__text">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam</p>
            </a>
            <div class="insight-content__down">
              <a class="insight-content__link-date" href="#">
                <h5 class="insight-content__subtitle-date">28 JANUARY, 2021</h5>
              </a>
              <a class="insight-content__link-author" href="#">
                <h5 class="insight-content__subtitle-author">BY ADMIN</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="insight-content__item">
          <a class="insight-content__link" href="#">
            <img class="insight-content__img" src="images/insights/insight2.jpg" alt="insight image">
            <h3 class="insight-content__title">NEWS</h5>
          </a>
          <div class="insight-content__wrapper">
            <a class="insight-content__link-text" href="#">
              <p class="insight-content__text">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore</p>
            </a>
            <div class="insight-content__down">
              <a class="insight-content__link-date" href="#">
                <h5 class="insight-content__subtitle-date">28 JANUARY, 2021</h5>
              </a>
              <a class="insight-content__link-author" href="#">
                <h5 class="insight-content__subtitle-author">BY ADMIN</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="insight-content__item">
          <a class="insight-content__link" href="#">
            <img class="insight-content__img" src="images/insights/insight3.jpg" alt="insight image">
            <h3 class="insight-content__title">NEWS</h5>
          </a>
          <div class="insight-content__wrapper">
            <a class="insight-content__link-text" href="#">
              <p class="insight-content__text insight-content__text-last">Rncididunt ut labore et dolore magna
                aliqua. Ut enim</p>
            </a>
            <div class="insight-content__down">
              <a class="insight-content__link-date" href="#">
                <h5 class="insight-content__subtitle-date">28 JANUARY, 2021</h5>
              </a>
              <a class="insight-content__link-author" href="#">
                <h5 class="insight-content__subtitle-author">BY ADMIN</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="partners">
        <img class="partners-img" src="images/partners/partner1.svg" alt="">
        <img class="partners-img" src="images/partners/partner2.svg" alt="">
        <img class="partners-img" src="images/partners/partner3.svg" alt="">
        <img class="partners-img" src="images/partners/partner4.svg" alt="">
        <img class="partners-img" src="images/partners/partner5.svg" alt="">
      </div>
    </div>
  </section>

  </main>
  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>