.present{
  &-items{
    display: flex;
    padding-top: 96px;
  } 
  &-item__short{
    position: relative;
    padding: 100px 150px 100px 385px;
    // display: block;
    background-color: #feefe2;
    margin-right: 30px;
  }
  &-item__short::before{
    display: inline-block;
    object-fit: cover;
    position: absolute;
    content: "";
    width: 233px;
    height: 405px;
    background: url(../images/lamp-short.svg) no-repeat right center;
    left: 40px;
    bottom: 100px;
  }
  &-title__short{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $title;
    margin-bottom: 28px;
  }
  &-text__short{
    font-size: 16px;
    line-height: 30px;
    max-width: 335px;
    color: $title;
    margin-bottom: 30px;
  }
  &-link{
    display: inline-block;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    border: solid 1px #b3b7b5;
    padding: 20px 19px 23px 18px;
    border-radius: 5px;
  }
  &-arrow__img{
    position: relative;
    display: inline-block;
    margin-left: 43px; 
  }
  &-item__long{
    position: relative;
    padding: 100px 150px 100px 385px;
    display: block;
    background-color: #feefe2;
  }
  &-item__long::before{
    display: inline-block;
    position: absolute;
    content: "";
    object-fit: cover;
    width: 233px;
    height: 405px;
    background: url(../images/lamp-long.svg) no-repeat;
    left: 40px;
    bottom: 100px;
  }
  &-title__long{
    @extend %dmsans-700;
    max-width: 249px;
    font-size: 26px;
    line-height: 32px;
    color: $title;
    margin-bottom: 20px;
  }
   &-text__long{
    font-size: 16px;
    line-height: 30px;
    max-width: 295px;
    color: $title;
    margin-bottom: 36px;
  }
}
@media (max-width: 1800px){
  .present-arrow__img {
    margin-left: 26px;
  }
  .present-item__long {
    padding: 100px 75px 100px 333px;
  }
}
@media (max-width: 1500px){
.present-items{
  justify-content: center;
}
.present-item__short{
    padding: 100px 30px 100px 285px;
}
.present-item__long {
    padding: 100px 40px 100px 285px;
  }
}
@media (max-width: 1200px){
  .present-items {
    flex-direction: column;
  }
  .present-item__short {
    margin: 0 0 85px 0;
  }
}
@media (max-width: 555px){
  .present-item__short::before{
    display: none;
  }
  .present-item__long::before {
    display: none;
  }
  .present-item__short{
    padding: 100px 30px 100px 40px;
  }
  .present-item__long {
    padding: 100px 40px 100px 40px;
  }
}