.insight{
  display: flex;
  justify-content: center;
  height: 780px;
  background: linear-gradient(to bottom, white 50%, #fef7f0 50%);
}
.insight-top{
  @extend %dmsans-700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
  &__title{
  font-size: 36px;
  color: #191919;
  }
  &__link{
  position: relative;
  font-size: 16px;
  color: #262626;
  margin-right: 13px;
  display: block;
  }
  &__link::after{
    margin-left: 13px;
    top: 6px;
    position: absolute;
    content: "";
    background: url(../images/icons/insight-arrow.svg) no-repeat;
    height: 11px;
    width: 6px;
  }
}
.insight-content{
  display: flex;
  justify-content: space-between;
  &__item{
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fef7f0;
  }
  &__item + .insight-content__item{
    margin-left: 30px;
  }
  &__link{
    display: block;
    position: relative;
    height: 250px;
    width: 369px;
  }
  &__title{
    position: absolute;
    display: inline-block;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 7px 30px;
    border-radius: 18px;
    bottom: -16px;
    left: 30px;
  }
  &__text{
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    max-width: 293px;
    padding: 35px 0 17px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__down{
    display: flex;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    margin-top: 13px;
  }
  &__wrapper{
    background-color: #fff;
    padding-left: 30px;
    padding-bottom: 27px;
  }
  &__subtitle-date{
    color: #222933;
    padding-left: 30px;
    position: relative;
    margin-right: 27px;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/date.svg');
      left: 0;
      top: 4px;
    }
  }
  &__subtitle-author{
  color: #222933;
  padding-left: 30px;
  position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/man.svg');
      left: 0;
      top: 4px;
    }
  }
  &__text-last{
    padding-bottom: 39px;
  }
}
.wrapper-partners{
  background-color: #fef7f0;
}
.partners{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:90px 50px 94px;
  & img{
    display: inline;
  }
}
@media (max-width: 1220px){
  .insight{
    height: 100%;
  }
  .insight-content{
    flex-wrap: wrap;
    justify-content: center;
    &__item{
      margin-bottom: 40px;
    }
    &__item:last-child{
      margin-bottom: 0;
    }
  }
}
@media (max-width: 1000px){
  .partners {
    flex-direction: column;
    img{
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 555px){
  .insight-top{
    justify-content: flex-start;
    &__title{
      margin-right: 10px;
    }
  }
  .insight-top__title{
    font-size: 25px;
    line-height: 40px;
    width: 70%;
  }
  .insight-content__item + .insight-content__item{
    margin-left: 0;
  }
  .insight-content__link {
    height: auto;    
    width: 100%;
  }
}
